<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/top :: head"></head>
<body>
    <div th:replace="fragments/top :: body"></div>
    <div class="container mt-5">
        <h1 class="text-center">Config Table</h1>
        <table class="table table-striped table-bordered mt-4">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>
                        <a th:href="@{/config(order=${order == 'asc' ? 'desc' : 'asc'}, filter=${filter})}" class="text-white">
                            App Name
                        </a>
                    </th>

                    <th>
                        <a th:href="@{/config(order=${order}, filter=${filter == 'activated' ? 'deactivated' : (filter == 'deactivated' ? 'all' : 'activated')})}" class="text-white">
                            Activated
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="config : ${configList}">
                    <td th:text="${config.id}"></td>
                    <td th:text="${config.appName}"></td>
                    <td th:text="${config.activated} ? '✅' : '❌'"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/bottom :: footer"></div>
</body>
</html>